.content-main {
  z-index: 3;
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  top: 25%;
  height: calc(100vh - 150px);
}

.introduction-message {
  padding: 50px;

  margin: 0 50px;
}

.introduction-message > h1 {
  line-height: 2;
  font-size: 40px;
  margin-bottom: 30px;
}

.introduction-message > .btn-home {
  padding: 15px 20px;
  font-size: 30px;
}



// TYPEWRITER EFFECT


.introduction-message {
  h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
}

.introduction-message{
h1 { font-size: 3.5em; }
h2 {
  color: #888;
  font-size: 2em;
}
}
