// Creating grid between map and cards

.content-edit {
  display: flex;
  grid-template-columns: 3fr 1fr;
  justify-content: space-evenly;
}

.main > h2 {
  margin: 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

// Creating grid for cards
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

// Map sizing and positioning
#map {
  height: 100vh;
  width: 700px;
  position: sticky;
  top: 0;
  right: 0;
}

// Card styling (and sections inside card)
.card {
  background: #F2F2F2;
  cursor: pointer;
  width: 18rem;
}

.card:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.card-img-top {
  background-size: cover;
}

.card-info {
  display: flex;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}

.more-info {
  text-align: right;
}

.fa-star {
  color: #FFA650;
}

// Modal styling
.address {
  font-size: 20px;
  margin-top: 10px;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1500px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
