.main-container-friends{
  margin: 0 auto ;
  width: 1050px;
}

.grid-friends {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  row-gap: 10px;
}

.current-friends {
  display:flex;
  flex-direction: column;
  padding: 20px;
  background: #F2F2F2;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}

.not-friends{
  padding: 20px;
  background: #F2F2F2;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}

.main-container {
  margin: 0 auto ;
  width: 800px;
}
.recieved-friend-requests {
  padding: 20px;
  background: #F2F2F2;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}

.pending-friend-requests {
  padding: 20px;
  background: #F2F2F2;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  margin-bottom:10px;
}

//comment
.friend {
  padding: 8px;
  position: relative;
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.add {
  position: absolute;
  top: 25px;
  right: 25px;
}
.pending {
  position: absolute;
  top: 25px;
  right: 25px;
}
.accept-decline {
  position: absolute;
  top: 25px;
  right: 25px;
}

.fa-user-plus {
  color: #03C5B8;
  font-size: 25px;
  opacity: 0.8;
}

.fa-user-plus:hover {
  opacity: 1;
}

.fa-check-circle {
  color: #03C5B8;
  font-size: 25px;
  opacity: 0.8;
}

.fa-check-circle:hover {
  opacity: 1;
}

.fa-times-circle {
  color: #FF5E13;
  font-size: 25px;
  opacity: 0.8;
}

.fa-times-circle:hover {
  opacity: 1;
}

.fa-user-clock {
  color: #ffa500;
  font-size: 25px;
  opacity: 0.8;
}

.search-friend {
  font-family: 'Raleway', sans-serif;
}

.styler-input {
  width: 100%;
}

.friends_scroll{
  overflow: overlay;
  margin-top: 10px;
}