.form-container{
  width: 800px;
  margin: 30px auto;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
  position: relative;

  h2{
    padding-bottom: 8px;
    margin-bottom: 30px;
    font-weight: bold;
    border-bottom: 1px solid black;
  }

  p{
    border-top: 1px solid grey;
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
  }
}
