.form-container{
  width: 800px;
  margin: 30px auto;
  padding: 20px 50px;
  border-radius: 10px;

  h2 {
    padding-bottom: 8px;
    margin-bottom: 20px;
    // font-weight: bold;
    border-bottom: 1px solid black;
  }

  p {
    border-top: 1px solid grey;
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
  }
}
