.show-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 10px;
  margin: 0 auto;

}

.title {
  padding: 30px 20px 20px 20px;
  text-align:center;
}

.card-title {
  padding: 30px 20px 20px 20px;
}

#map-show{
  height: 100%
}
.right-container {
  display: flex;
  flex-direction: column;
}

.travelvenue {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  padding: 15px;
}

.confirmed-midway {
}

.directions-container {
  padding-left: 20px;
  padding-right: 20px;
}

.share-container {
  padding: 20px;
}

.venue_photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.venue-card {
  display:grid;
  grid-template-columns: 1fr 2fr;
  background: #F2F2F2;
  cursor: pointer;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}

.venue-card:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.venue-card-body {
  padding:20px;

}

.venue-card-info {

}


#share-button{
  background: none;
  border: none;
}
.fa-copy {
     color: #03C5B8;
    text-decoration: none;
    border: none;
}

.card-title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 0px !important;
}
.card-content {
  background:#F2F2F2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid rgb(235,235,235);
  border-radius: 2px;

}

.social-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-decoration: none;
  background:#F2F2F2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid rgb(235,235,235);
  border-radius: 2px;

}
.social-container {
  a {
    color: #03C5B8;
    text-decoration: none;
  }
}

.social-element{
  padding: 10px;
  text-align: center;
  font-size: 40px;
  color: #03C5B8;
  text-decoration: none;
}
.social-element:hover {
  opacity: 0.8;
}

.back-button-div {
  display: flex;
  justify-content: flex-end;
}

.travel-grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  padding: 15px 10px;

}
.travel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #03C5B8;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.travel-item{
  p{
    padding-right: 10px;
    color: white;
  }
}
.travel-item{
  i {
    font-size: 40px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
}

.travel-grid{
  a:hover{
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
}
}

.users-grid {
  display:grid;
  grid-template-columns: 1fr 1fr ;
  column-gap: 10px;
  row-gap: 10px;
  padding: 5px 5px;

}
.users-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 5px solid #03C5B8;
  color: #646561;
  padding: 5px;
  cursor: pointer;
}

.users-item:hover{
  opacity: 0.8;
}

.users-item{
  p{
    padding-right: 30px;
    color: #646561;
    font-size: 25px;
    font-weight: bold;
  }
}
.users-item{
  i {
    font-size: 40px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
}

.users-grid{
  a:hover{
  text-decoration: none;
  opacity: 0.8;
}
}
