<div class="content-main justify-content-center align-items-center">
  <div class="introduction-message">
    <h1>
      Hello <%= current_user.first_name %>, <br>
      So far, you have been on XX Midways... <br>
      ... Want to start a new one?
    </h1>

    <%= link_to "New Midway", new_midway_path, class: "btn-home align-items-center" %>
  </div>
</div>


