<div class="banner">
  <%= video_tag 'intersection_video_cut.mp4', autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div id="overlay" style="background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3))"></div>
  <div class="content">
    <h1>Midway</h1>
    <%= link_to "Find your midpoint", new_user_session_path, class: "btn btn-danger btn-lg" %>
  </div>
</div>

<%# link to user profile for later= link_to "current_user_show", user_profile_path(current_user.id) %>
