<div class="banner">
  <%= video_tag 'intersection_video_cut3.mp4', autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div id="overlay" style="background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3))"></div>
  <div class="content justify-content-center align-items-center">
    <h1>MIDWAY</h1>
    <%= link_to "Start here", new_user_session_path, class: "btn-home btn-lg" %>
  </div>

</div>

<%# link to user profile for later= link_to "current_user_show", user_profile_path(current_user.id) %>
