/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.hidden {
  display: none;
}

// STYLING FOR VENUE TYPES


.category-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.category-item {
  flex: 0 0 25%;
  padding-bottom: 10px;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
  background-color: grey;
}

.venue-category-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.venue-category-item {
  flex: 0 0 25%;
  margin-bottom: 20px;
}

.venue-category-selector {
  position: absolute;
  transform: scale(0);
}

.venue-category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.venue-category-item .div-image-restaurant {
  height: 70px;
  width: 70px;
  background-image: image-url("black-restaurant.png");
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5px;
}

.venue-category-selector:checked + label {
  color: white !important;
  background-color: grey;
  .div-image-restaurant {
    background-image: image-url("white-restaurant.png");
  }
}

.venue-category-item .div-image-beer {
  height: 70px;
  width: 70px;
  background-image: image-url("black-beer.png");
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5px;
}

.venue-category-selector:checked + label {
  color: white !important;
  background-color: grey;
  .div-image-beer {
    background-image: image-url("white-beer.png");
  }
}

.venue-category-item .div-image-artgallery {
  height: 70px;
  width: 70px;
  background-image: image-url("black-artgallery.png");
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5px;
}

.venue-category-selector:checked + label {
  color: white !important;
  background-color: grey;
  .div-image-artgallery {
    background-image: image-url("white-artgallery.png");
  }
}

.venue-category-item .div-image-cinema {
  height: 70px;
  width: 70px;
  background-image: image-url("black-cinema.png");
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5px;
}

.venue-category-selector:checked + label {
  color: white !important;
  background-color: grey;
  .div-image-cinema {
    background-image: image-url("white-cinema.png");
  }
}

.venue-category-item .div-image-museum {
  height: 70px;
  width: 70px;
  background-image: image-url("black-museum.png");
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5px;
}

.venue-category-selector:checked + label {
  color: white !important;
  background-color: grey;
  .div-image-museum {
    background-image: image-url("white-museum.png");
  }
}

.venue-category-item .div-image-park {
  height: 70px;
  width: 70px;
  background-image: image-url("black-park.png");
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5px;
}

.venue-category-selector:checked + label {
  color: white !important;
  background-color: grey;
  .div-image-park {
    background-image: image-url("white-park.png");
  }
}

.venue-category-item .div-image-nightclub {
  height: 70px;
  width: 70px;
  background-image: image-url("black-nightclub.png");
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5px;
}

.venue-category-selector:checked + label {
  color: white !important;
  background-color: grey;
  .div-image-nightclub {
    background-image: image-url("white-nightclub.png");
  }
}

.venue-category-item .div-image-bowling {
  height: 70px;
  width: 70px;
  background-image: image-url("black-bowling.png");
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5px;
}

.venue-category-selector:checked + label {
  color: white !important;
  background-color: grey;
  .div-image-bowling {
    background-image: image-url("white-bowling.png");
  }
}

.venue-category-item .div-image-cafe {
  height: 70px;
  width: 70px;
  background-image: image-url("black-cafe.png");
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5px;
}

.venue-category-selector:checked + label {
  color: white !important;
  background-color: grey;
  .div-image-cafe {
    background-image: image-url("white-cafe.png");
  }
}

.venue-category-selector-shopping {
  position: absolute;
  transform: scale(0);
}

.venue-category-selector-shopping + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 13px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.venue-category-item .div-image-shopping {
  height: 70px;
  width: 70px;
  background-image: image-url("black-shopping.png");
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 10px;
}

.venue-category-selector-shopping:checked + label {
  color: white !important;
  background-color: grey;
  .div-image-shopping {
    background-image: image-url("white-shopping.png");
  }
}

