.marker {
  width: 250px;
  height: 250px;
  z-index: 4;
}

.mapboxgl-marker{
  cursor: pointer;
}

// .venue_marker{
//   background-image: url("https://static.thenounproject.com/png/10962-200.png") !important;
// }
