// MENU ITEM STYLING

.dropdown-item {
  font-weight: bold;
  padding: 0;
}

.menu-text{
  padding-left: 15px;
  position: relative;
  bottom: 63px;
}


/* START OF DYNAMIC MENU CODE */
header {
  position: absolute;
  overflow: visible;
  z-index: 100;
  background-color: transparent;
  width: 100%;
  height: 5rem;
  padding: 1.5rem;

  h1 {
    font-size: 2.2rem;
    float: left;
    margin-top: 5px;
  }

  a {
    text-decoration: none;
  }

  a > p{
    color: #FFF;
  }

  a > p:hover{
    color: #03C5B8;
    background-color: #777873;
  }

  span.menu-control-open,
  span.menu-control-close,
  nav,
  a {
    font-weight: bold;
    color: #FFF;
  }

  span.menu-control-close:hover{
    color: #03C5B8;
  }

  span.menu-control-open,
  span.menu-control-close,
  nav a {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }

  span.menu-control-open,
  span.menu-control-close {
    display: block;
    cursor: pointer;
  }

  span.menu-control-open {
    position: relative;
    font-size: 1.2rem;
    line-height: 150%;
    // float: right;
    margin-top: 5px;
    svg {
        position: absolute;
        top: -12px;
        left: 12px;
        line, circle {
            fill: none;
            stroke: #ffffff;
            stroke-width: 3;
        }
    }
    &:before {
        padding-top: 1px;
    }
    &:before, &:after {
        content: '';
        display: block;
        width: 100%;
        border-top: 3px solid wheat;
    }
  }

  span.menu-control-close {
    font-size: 27px;
    position: relative;
    left: 280px;
    z-index: 1;
  }

  nav {
    display: flex;
    flex-direction: column;
  }
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #777873;
  height: 450px;
  width: 0;
  border-radius: 0 0 0 15px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  a {
    transform: translate3d(-150px, 0, 0);
    transition: transform .15s ease-in;
    font-size: 25px;
  }

  .image-menu {
    margin-bottom: 30px;
    padding-bottom: 10px;
    // font-size: 42px;
    border-bottom: 1px solid #03C5B8;
    width: 200px;
  }

  .menu-inner {
    position: relative;
    height: 100%;
    width: 80vw;
    padding: 1.5rem;
  }


}

.menu--active {
  overflow: hidden;


  nav a {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease-out;
    font-size: 25px;

    /* Handles items within the slide-out to give them the delayed slide-in */
    &:first-child {
      transition-delay: .1s;
    }
    &:nth-child(2) {
      transition-delay: .2s;
    }
    &:nth-child(3) {
      transition-delay: .3s;
    }
    &:nth-child(4) {
      transition-delay: .4s;
    }
    &:last-child {
      transition-delay: .5s;
    }
  }
}

// This media query sets the width of the menu to be larger on a smaller screen
 @media screen and (max-width: 767px) {
  .menu--active .menu {
    width: 80%;
    height: calc(100vh - 75px); }
}

// This media query sets the menu width to be slightly smaller on a larger screen (think an iPad)
@media screen and (min-width: 768px) {
  .menu--active .menu {
    width: 23%;
    height: 450px;
    .menu-inner {
      width: 40vw;
    }
  }
}
