// NAVBAR LE WAGON STYLING

.navbar-lewagon {
  justify-content: space-between;
  background: #F2F2F2;
  height: 75px;
  align-items: center;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav p {
  font-size: 18px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
