// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-container {
  margin: 0 auto ;
  width: 100%;
}
.login-container{
  width: 400px;
  margin: 0 auto;
}

